{:paths   ["src" "resources"]
 :deps    {}
 :aliases {;; Active dev to make dependencies bundled with bb visible to your IDE
           :dev
           {:extra-paths ["dev" "classes"]
            :extra-deps  {cheshire/cheshire {:mvn/version "5.8.1"}
                          http-kit/http-kit {:mvn/version "2.5.0"}}}
           ;; Config for bb --uberjar, see https://book.babashka.org/#_uberjar
           :remove-clojure {:classpath-overrides {org.clojure/clojure nil
                                                  org.clojure/spec.alpha nil
                                                  org.clojure/core.specs.alpha nil}}}}
